.git
.gitignore
.github
.idea
.pytest_cache
.ruff_cache
.venv
venv
env
backend/.venv
backend/.mypy_cache
backend/__pycache__
backend/logs
backend/storage
backend/.env
frontend/node_modules
frontend/dist
frontend/.env
**/__pycache__
**/*.pyc
